# root
.idea
.env
.pnpm-store/
legacy/

# web
node_modules
.dependencies-before-rework/
web/packages/i18n/src/paraglide/
.tanstack
dist
.output

# java
target

# local asset storage
services/assets/media/
services/media/
/media/
